* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Montserrat;
  color: white;
  line-height: 1.6;
}

header {
  height: 100vh;
  background-size: cover;
  /* background-repeat: none; */
  /* width: 100%; */
  background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.89)),
    url("/assets/imgs/cafe\ \(1\).png");
}

nav {
  display: flex;
  margin: 0 auto;
  /* max-width: 1200px; */
  /* width: 100%; */
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

.logo a {
  color: rgb(64, 64, 168);
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: rgb(255, 255, 255);
  font-weight: 500;
  /* transition: color 0.3s ease; */
}

.burger {
  display: none;
  cursor: pointer;
}

.line {
  width: 20px;
  height: 2px;
  background: rgba(255, 255, 255, 0.856);
  margin: 5px 0;
  transition: all 0.3s ease;
}

main {
  margin: 0 auto;
  text-align: center;
  /* width: 100%; */
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  /* padding: 2rem; */
}

main h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: rgb(64, 64, 168);
}

main button {
  padding: 0.7rem 1rem;
  border: none;
  margin: 1rem 0;
  color: whitesmoke;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
  background-color: rgb(64, 64, 168);
  border-radius: 5px;
}

.nav-links span {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav-links {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    transition: 0.3s;
    z-index: 1000;
    padding: 70px 20px;
    width: 180px;
    left: -280px;
    right: 0;
    background: rgb(255, 255, 255);
    height: 100vh;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links span {
    display: block;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;

    font-size: 1.5rem;
    /* margin-bottom: 1rem; */
  }

  .nav-links a {
    padding: 1rem;
    color: rgb(64, 64, 168);
    width: 100%;
    text-align: center;
  }
}
